html {
  background-color: white;
  font-size: 10px;
  margin: 0;
  padding: 0;
  width: fit-content;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 3vh;
}

.header__logo {
  margin-left: 3vw;
}

@mixin button {
  background: #5222d0;
  border-radius: 100px;
  border: 0;
  font-family: "Intro Demo", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.button {
  @include button;
}

.button__cart {
  margin-right: 3vw;
  font-size: 2rem;
  padding: 1.5vh 1.5vw;
}

.button__cart .button__icon {
  width: 2rem;
}

.main {
  display: flex;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__text_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 10vh;
  margin-inline: 5vw;
}

@mixin main__headline {
  font-family: "Intro Demo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 6rem;
  color: #000000;
}

.main__headline {
  @include main__headline;
}

@mixin description {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 3.2rem;
  color: #000000;
}

.main__description {
  @include description;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.button__buy {
  font-size: 4rem;
  padding: 2vh 2vw;
}

.button__buy .button__icon {
  width: 4rem;
}

.nav__menu {
  display: flex;
  justify-content: space-around;
}

@mixin menu {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  color: #5222d0;
}

.nav__menu_item {
  @include menu;
  list-style-type: none;
}

.nav__menu_item:hover {
  color: #bb2247;
}

.nav__menu_item_link {
  text-decoration: none;
  color: #5222d0;
}

.nav__menu_item_link:hover {
  color: #bb2247;
}

.background {
  max-width: 100%;
}
